* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit_Complete/Fonts/OTF/Outfit-Bold.otf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url(./fonts/Outfit_Complete/Fonts/OTF/Outfit-Regular.otf)
    format("truetype");
  font-weight: 300;
}

body {
  font-family: "Outfit";
  font-weight: 200;
  background: hsl(217, 54%, 11%);
  font-size: 18px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(216, 50%, 16%);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 15px;
  width: 300px;
}

.img-container {
  position: relative;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 15px;
  overflow: hidden;
}

.card-image-main {
  width: 100%;
  height: auto;
  border-radius: 0;
  object-fit: cover;
  display: block;
}

.overlay {
  position: absolute;
  inset: 0;
  top: 50%;
  left: 50%;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background-color: hsla(178, 100%, 50%, 0.5);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 10;
  border-radius: inherit;
}

.img-container:hover .overlay {
  opacity: 1;
}

.view-icon {
  width: 40px;
  height: 40px;
  z-index: 200;
}

h2 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 15px;
  font-weight: 300;
}

h2:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.card-description p {
  color: hsl(215, 51%, 70%);
}

.ETH {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
}

.eth-number {
  color: hsl(178, 100%, 50%);
  display: flex;
  align-items: center;
}
.eth-number img {
  margin-right: 5px;
}

.days {
  color: hsl(215, 51%, 70%);
  display: flex;
  align-items: center;
}
.days img {
  margin-right: 5px;
}

.line {
  display: flex;
  width: 100%;
  border-bottom: 1px solid hsl(215, 32%, 27%);
  margin: 20px 0;
}

.user {
  display: flex;
  align-items: center;
}

.user {
  margin-bottom: 8px;
}

.user img {
  width: 34px;
  margin-right: 14px;
  border-radius: 17px;
  border: 1px solid hsl(0, 0%, 100%);
}

.user .label {
  color: hsl(215, 51%, 70%);
}

.user .name {
  color: hsl(0, 0%, 100%);
  cursor: pointer;
  transition: color 0.3s ease;
}

.user .name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 400px) {
  body {
    font-size: 15px;
  }
  .card {
    width: 250px;
  }

  .card-image-main {
    width: 250px;
  }
}
